.Dial {
  text-align: center;
  margin-top: 80px;
  position: static;
}

/* g.gauge-colour {
  transform: rotateX(180deg);

} */

#minimum {
  margin-right: 200px;
  /* margin-top: 200px; */
}

#lower {
  float: left;
}

/* #current {
  
} */

#Triangle {
  transform-origin: 100%;
  /* transform: rotate(80deg); */
}


#upper {
  float: right;
}

#maximum {
  float: right;
}