.Dial {
  margin-top: 80px;
  position: static;
}



.svg-container {
  position: relative;
  left: 50%;
transform: translateX(-50%);
  border: 3px solid red;
  width: 242px;
  height: 251px;
}

#minimum {
position: absolute;
top: 120px;
  left: -20px;
}

#maximum {
  position: absolute;
top: 120px;
  right: -20px;
}

#lower {
  float: left;
}



/* #Triangle { */
  /* transform-origin: 100%; */
  /* transform: rotate(80deg); */
/* } */


#upper {
  float: right;
}

#maximum {
  float: right;
}