.Dial {
  margin-top: 80px;
  position: static;
}

.dial-text {
  text-align: center;
  text-decoration: underline;
}


.svg-container {
  position: relative;
  left: 50%;
transform: translateX(-50%);
  /* border: 3px solid red; */
  width: 242px;
  height: 251px;
}

.submit-form {
  text-align: center;
  margin: 10px 0 0 0;
}

#Triangle {

}

#minimum {
position: absolute;
top: 120px;
  left: -50px;
  /* border: 1px solid red; */
}

#maximum {
  position: absolute;
top: 120px;
  right: -50px;
  /* border: 1px solid red; */

}

#lower {
  position: absolute;
  top: 50px;
  left: -30px;
  /* border: 1px solid red; */
}

#current {
  position: absolute;
  top: -40px;
  right: 80px;
  /* border: 1px solid red; */

}

#upper {
  position: absolute;
  top: 50px;
  right: -30px;
  /* border: 1px solid red; */
}

#upper {
  float: right;
}

#maximum {
  float: right;
}